In [53]:
import pandas as pd

In [54]:
data = pd.read_csv('all_articles_summary.csv')
data.head()

,UUID,URL,Author,Title,Published,Language,Rating,ThreadTitle,ThreadURL,SiteFull,Site,SiteSection,SectionTitle,ThreadPublished,Country,DomainRank,RepliesCount,Participants,SiteType,SourceFile
0,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250219222045.json
1,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250219222201.json
2,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250220071616.json
3,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250221071619.json
4,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250222071616.json

In [55]:
data.shape

(49000, 20)

In [56]:
data["Title"].isnull().sum()

14429

In [57]:
data["Language"].value_counts()

Language
english       39231
russian        6123
french          501
arabic          466
spanish         369
ukrainian       350
hindi           249
chinese         185
german          180
persian         121
japanese        101
korean           98
hungarian        75
greek            69
telugu           67
turkish          66
tamil            62
bosnian          57
gujarati         55
urdu             49
italian          46
romanian         45
punjabi          44
dutch            39
bokmal           36
swedish          36
bengali          35
danish           32
bulgarian        27
indonesian       25
croatian         23
polish           21
serbian          18
finnish          12
malayalam        11
marathi           9
kannada           9
tagalog           7
latin             6
oriya             5
yoruba            4
czech             4
thai              4
vietnamese        4
malay             4
mongolian         3
albanian          2
sotho             2
portuguese        2
xhosa             2
afrikaans         2
tsonga            2
shona             1
hebrew            1
kazakh            1
swahili           1
catalan           1
Name: count, dtype: int64

In [58]:
data["DomainRank"].value_counts()

DomainRank
5772.0      9563
3213.0      5868
29586.0     4752
77158.0     2728
85867.0     2662
            ...
9701.0         1
3536.0         1
509197.0       1
119545.0       1
125148.0       1
Name: count, Length: 767, dtype: int64

In [59]:
data['Site'].value_counts()

Site
thegatewaypundit.com    11680
newsbreak.com            5868
world-today-news.com     5175
breitbart.com            3055
time.news                2923
                        ...
scconnnews.com              1
nwwyomingnews.com           1
littleappletimes.com        1
daytonreporter.com          1
collintimes.com             1
Name: count, Length: 941, dtype: int64

In [60]:
data['Author'].value_counts()

Author
world today news              5144
time news                     2594
Elijah                        1159
Merry                          979
Alexander                      618
                              ...
МВД по Республике Мордовия       1
UP Gazette                       1
WaggleDancer                     1
Horatio Scaevola                 1
Kenny Nosay                      1
Name: count, Length: 8131, dtype: int64

In [61]:
data['Participants'] = pd.to_numeric(data['Participants'], errors='coerce')
data.groupby('Site')['Participants'].mean().sort_values(ascending=False)

Site
thegatewaypundit.com    48.073887
mediaite.com            46.255814
breitbart.com           43.039935
pinestatenews.com        1.000000
pittreview.com           1.000000
                          ...
cambodiantimes.com       0.000000
house.gov                0.000000
pr-gorod.ru              0.000000
pravfond.ru              0.000000
indiasnews.net           0.000000
Name: Participants, Length: 941, dtype: float64

In [62]:
data.isna().sum().sort_values(ascending=False)

Rating             49000
Title              14429
DomainRank          7640
Author              3187
SectionTitle        1440
Country             1174
ThreadTitle            4
UUID                   0
SiteType               0
Participants           0
RepliesCount           0
ThreadPublished        0
Site                   0
SiteSection            0
URL                    0
SiteFull               0
ThreadURL              0
Language               0
Published              0
SourceFile             0
dtype: int64

In [63]:
data[data.isna().any(axis=1)]

,UUID,URL,Author,Title,Published,Language,Rating,ThreadTitle,ThreadURL,SiteFull,Site,SiteSection,SectionTitle,ThreadPublished,Country,DomainRank,RepliesCount,Participants,SiteType,SourceFile
0,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250219222045.json
1,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250219222201.json
2,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250220071616.json
3,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250221071619.json
4,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250222071616.json
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48995,350fba75a286f183f22c8de9b37e0fd181bf38eb,https://baikal-news.net/other/2025/08/14/27868...,"Информационное агентство ""Восток - Телеинформ""",Команда из Бурятии участвует в международном ф...,2025-08-14T06:40:00.000+03:00,russian,NaN,Команда из Бурятии участвует в международном ф...,https://baikal-news.net/other/2025/08/14/27868...,baikal-news.net,baikal-news.net,https://baikal-news.net/rss/news,Лента новостей Бурятии,2025-08-14T06:40:00.000+03:00,RU,NaN,0,1,news,./unzipped_flat/article_9_20250817071621.json
48996,323589318ea40a3b56c7b9c0366b7f8eaf04c1dc,https://www.newsbreak.com/mlive-513121/4186569...,Matthew Ehler,"Two-time Super Bowl-winning Chiefs WR, a forme...",2025-08-21T04:17:00.000+03:00,english,NaN,"Two-time Super Bowl-winning Chiefs WR, a forme...",https://www.newsbreak.com/mlive-513121/4186569...,www.newsbreak.com,newsbreak.com,https://www.newsbreak.com/mlive-513121,MLive&#x27;s Home Page | NewsBreak,2025-08-21T04:17:00.000+03:00,US,3213.0,0,1,news,./unzipped_flat/article_9_20250824071625.json
48997,82ec2cd0b99cb3dfd76ec8110bb1ddebe47ab3d9,https://ria.ru/20250828/bespilotniki-203800276...,РИА Новости,ПВО ночью уничтожила 102 украинских беспилотни...,2025-08-28T07:14:00.000+03:00,russian,NaN,ПВО ночью уничтожила 102 украинских беспилотни...,https://ria.ru/20250828/bespilotniki-203800276...,ria.ru,ria.ru,http://www.ria.ru/lenta,Лента новостей — РИА Новости — события в Москв...,2025-08-28T07:14:00.000+03:00,RU,1431.0,0,1,news,./unzipped_flat/article_9_20250831071618.json
48998,0c2023d267df9914a0d4bf3d58013daec5cc3a5d,https://www.newsbreak.com/news/4213234391087-f...,Pat Grubb,Former health director files tort claim - News...,2025-09-04T00:18:00.000+03:00,english,NaN,Former health director files tort claim - News...,https://www.newsbreak.com/news/4213234391087-f...,www.newsbreak.com,newsbreak.com,https://www.newsbreak.com/maple-falls-wa,"Maple Falls, WA Local News and More | NewsBreak",2025-09-04T00:18:00.000+03:00,US,3213.0,0,1,news,./unzipped_flat/article_9_20250907071619.json
48999,1ef20df3437aac324fc0ac43ee822f34660e9430,https://www.newsbreak.com/total-pro-sports-313...,Kenny Nosay,Kevin Durant Claps Back After NBA's New Heave ...,2025-09-11T06:38:00.000+03:00,english,NaN,Kevin Durant Claps Back After NBA's New Heave ...,https://www.newsbreak.com/total-pro-sports-313...,www.newsbreak.com,newsbreak.com,https://www.newsbreak.com/total-pro-sports-313...,Total Pro Sports&#x27;s Home Page | NewsBreak,2025-09-11T06:38:00.000+03:00,US,3213.0,0,1,news,./unzipped_flat/article_9_20250914071624.json

In [64]:
data[data.isna().sum(axis=1) > 1]

,UUID,URL,Author,Title,Published,Language,Rating,ThreadTitle,ThreadURL,SiteFull,Site,SiteSection,SectionTitle,ThreadPublished,Country,DomainRank,RepliesCount,Participants,SiteType,SourceFile
0,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250219222045.json
1,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250219222201.json
2,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250220071616.json
3,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250221071619.json
4,806ba3371a092e3ad8c182947177a3626953419a,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,NaN,2025-02-09T18:28:26.280+02:00,english,NaN,"In the Runup Elections, the Failed, Outgoing G...",https://www.thegatewaypundit.com/2025/02/runup...,www.thegatewaypundit.com,thegatewaypundit.com,https://thegatewaypundit.com,The Gateway Pundit,2025-02-09T22:41:00.000+02:00,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250222071616.json
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48990,ab4330a8a93e961f3fc1ac6d50e08a24a3c57bd9,https://baikal-news.net/society/2025/07/10/272...,"Информационное агентство ""Восток - Телеинформ""","В Улан-Удэ беременная женщина, ее мать и истер...",2025-07-10T05:51:00.000+03:00,russian,NaN,"В Улан-Удэ беременная женщина, ее мать и истер...",https://baikal-news.net/society/2025/07/10/272...,baikal-news.net,baikal-news.net,https://baikal-news.net/incident,Происшествия - Лента новостей Бурятии,2025-07-10T05:51:00.000+03:00,RU,NaN,0,1,news,./unzipped_flat/article_9_20250713071618.json
48991,c8ddc2d6bc3f9db39ff8c75aa26d3db3e916883b,https://www.protothema.gr/politics/article/167...,NaN,"Οι θερινές περιοδείες Μητσοτάκη, οι εσωκομματι...",2025-07-17T07:09:00.000+03:00,greek,NaN,"Οι θερινές περιοδείες Μητσοτάκη, οι εσωκομματι...",https://www.protothema.gr/politics/article/167...,www.protothema.gr,protothema.gr,https://protothema.gr/life-style/article/14464...,Ζωζώ Σαπουντζάκη: Η συντροφικότητα παίζει σοβα...,2025-07-17T07:09:00.000+03:00,GR,11954.0,0,0,news,./unzipped_flat/article_9_20250720071658.json
48992,82798b66bef6e044c50213efe2b9ca09438b6222,https://collintimes.com/stories/674118638-rep-...,Collin Times,Rep. Keith Self highlights legislative priorit...,2025-07-23T12:02:00.000+03:00,english,NaN,Rep. Keith Self highlights legislative priorit...,https://collintimes.com/stories/674118638-rep-...,collintimes.com,collintimes.com,https://www.golf.einnews.com/live_feed,Live Feed Wire - Golf News Today - EIN Presswire,2025-07-23T12:02:00.000+03:00,US,NaN,0,1,news,./unzipped_flat/article_9_20250727071622.json
48993,0385d3512e57dc4c8fcc764b47600774770a43f6,https://segeorgianews.com/stories/674145029-ca...,H. D. Barger,Candler County is home to 60 registered sex of...,2025-07-30T23:10:00.000+03:00,english,NaN,Candler County is home to 60 registered sex of...,https://segeorgianews.com/stories/674145029-ca...,segeorgianews.com,segeorgianews.com,https://segeorgianews.com/stories,Latest News from Se Georgia News | Se Georgia ...,2025-07-30T23:10:00.000+03:00,US,NaN,0,1,news,./unzipped_flat/article_9_20250803071626.json
48995,350fba75a286f183f22c8de9b37e0fd181bf38eb,https://baikal-news.net/other/2025/08/14/27868...,"Информационное агентство ""Восток - Телеинформ""",Команда из Бурятии участвует в международном ф...,2025-08-14T06:40:00.000+03:00,russian,NaN,Команда из Бурятии участвует в международном ф...,https://baikal-news.net/other/2025/08/14/27868...,baikal-news.net,baikal-news.net,https://baikal-news.net/rss/news,Лента новостей Бурятии,2025-08-14T06:40:00.000+03:00,RU,NaN,0,1,news,./unzipped_flat/article_9_20250817071621.json

In [65]:
def get_unique_values(series):
    vals = series.dropna().unique()
    return sorted(list(vals))

In [66]:
count_by_language = data.groupby("Language")["URL"].count().reset_index(name="FakeNewsCount").sort_values("FakeNewsCount", ascending=False)
count_by_language.head()

   Language  FakeNewsCount
13  english          39231
39  russian           6123
15   french            501
2    arabic            466
43  spanish            369

These results show that English accounts for the overwhelming majority of fake-news URLs, followed by Russian, with all other languages appearing far less frequently.

In [67]:
authors_countries = data.groupby("Author")["Country"].apply(get_unique_values).reset_index(name="CountriesPublishedIn")
authors_countries.head()

                                    Author CountriesPublishedIn
0  "53 новости" Великий Новгород и область                 [RU]
1                       "Волновахская ДШИ"                 [RU]
2            "Первый Ростовский" телеканал                 [RU]
3                            #Marsing83639                 [US]
4                         (Ivonne Olivas )                 [US]

In [68]:
authors_countries["CountriesPublishedIn"].value_counts().head()

CountriesPublishedIn
[US]    6339
[RU]    1071
[IN]     131
[EG]      83
[]        65
Name: count, dtype: int64

Our data shows that most authors that are publishing fake news are in the United States with Russia having about 1/8th of the authors, and the rest of the countries having 200 or less authors.

In [69]:
authors_languages = data.groupby("Author")["Language"].apply(get_unique_values).reset_index(name="LanguagesUsed")
authors_languages.head()

                                    Author LanguagesUsed
0  "53 новости" Великий Новгород и область     [russian]
1                       "Волновахская ДШИ"     [russian]
2            "Первый Ростовский" телеканал     [russian]
3                            #Marsing83639     [english]
4                         (Ivonne Olivas )     [english]

In [70]:
authors_languages["LanguagesUsed"].value_counts().head()

LanguagesUsed
[english]    6517
[russian]    1169
[arabic]       92
[french]       62
[hindi]        44
Name: count, dtype: int64

Our data shows English as being the clear winner in most published language with the next being Russian and then Arabic. Interesting results, maybe this could mean most Indian fake news is being written in English?

In [71]:
count_by_Site = data.groupby("Site")["URL"].count().reset_index(name="FakeNewsCount").sort_values("FakeNewsCount", ascending=False)
count_by_Site.head(10)

                     Site  FakeNewsCount
785  thegatewaypundit.com          11680
488         newsbreak.com           5868
919  world-today-news.com           5175
66          breitbart.com           3055
800             time.news           2923
909      whatsnew2day.com           2840
487            news18.com            799
482          news-kiev.ru            505
145   countylocalnews.com            415
416          mediaite.com            387

Interesting results for the sites their are a few sites that are pushing a unbelievable amount of fake news like our top 7, and the rest slowly taper down to lower and lower values of fake news.

In [72]:
authors_count = data.groupby("Author")["URL"].count().reset_index(name="FakeNewsCount").sort_values("FakeNewsCount", ascending=False)
authors_count.head(10)

                 Author  FakeNewsCount
6829   world today news           5144
6709          time news           2594
1719             Elijah           1159
3705              Merry            979
287           Alexander            618
1241  County Local News            390
5560               Tina            366
8087          مصر تايمز            281
6066          admin_dev            269
5919    Whiskey6 ( DN )            245

In [73]:
# Parse Published date column
data['Published'] = pd.to_datetime(data['Published'], errors='coerce', utc=True)
data[['Published', 'URL']].head()

,Published,URL
0,2025-02-09 16:28:26.280000+00:00,https://www.thegatewaypundit.com/2025/02/runup...
1,2025-02-09 16:28:26.280000+00:00,https://www.thegatewaypundit.com/2025/02/runup...
2,2025-02-09 16:28:26.280000+00:00,https://www.thegatewaypundit.com/2025/02/runup...
3,2025-02-09 16:28:26.280000+00:00,https://www.thegatewaypundit.com/2025/02/runup...
4,2025-02-09 16:28:26.280000+00:00,https://www.thegatewaypundit.com/2025/02/runup...

In [74]:
# Create new date-related variables
data['Published_Year'] = data['Published'].dt.year
data['Published_Month'] = data['Published'].dt.month
data['Published_Day'] = data['Published'].dt.day
# Use normalize() to get date without time, but keep as datetime for better compatibility
data['Published_Date'] = data['Published'].dt.normalize()
data['Published_DayOfWeek'] = data['Published'].dt.day_name()
data['Published_Week'] = data['Published'].dt.isocalendar().week
data['Published_Quarter'] = data['Published'].dt.quarter

# Display new variables
data[['Published', 'Published_Year', 'Published_Month', 'Published_Day', 
      'Published_Date', 'Published_DayOfWeek', 'Published_Week', 'Published_Quarter']].head()

,Published,Published_Year,Published_Month,Published_Day,Published_Date,Published_DayOfWeek,Published_Week,Published_Quarter
0,2025-02-09 16:28:26.280000+00:00,2025,2,9,2025-02-09 00:00:00+00:00,Sunday,6,1
1,2025-02-09 16:28:26.280000+00:00,2025,2,9,2025-02-09 00:00:00+00:00,Sunday,6,1
2,2025-02-09 16:28:26.280000+00:00,2025,2,9,2025-02-09 00:00:00+00:00,Sunday,6,1
3,2025-02-09 16:28:26.280000+00:00,2025,2,9,2025-02-09 00:00:00+00:00,Sunday,6,1
4,2025-02-09 16:28:26.280000+00:00,2025,2,9,2025-02-09 00:00:00+00:00,Sunday,6,1

In [75]:
# Group by dates - Articles per date
articles_by_date = data.groupby('Published_Date').agg({
    'URL': 'count',
    'Site': 'nunique',
    'Author': 'nunique',
    'Participants': 'sum',
    'RepliesCount': 'sum'
}).reset_index()
articles_by_date.columns = ['Date', 'Article_Count', 'Unique_Sites', 'Unique_Authors', 
                           'Total_Participants', 'Total_Replies']
articles_by_date = articles_by_date.sort_values('Date')
# Convert Date to date only for display
articles_by_date['Date'] = pd.to_datetime(articles_by_date['Date']).dt.date
articles_by_date.head(10)

,Date,Article_Count,Unique_Sites,Unique_Authors,Total_Participants,Total_Replies
0,2025-01-22,10,2,2,255,500
1,2025-01-23,102,1,15,6120,10200
2,2025-01-31,630,1,31,34650,63000
3,2025-02-04,18,1,0,0,0
4,2025-02-05,19,1,0,0,0
5,2025-02-07,21,1,1,21,0
6,2025-02-08,22,1,1,22,0
7,2025-02-09,21178,27,287,430240,564594
8,2025-02-13,716,19,263,23664,34988
9,2025-02-14,284,9,148,10170,15194

In [76]:
# Group by dates - Articles per month
articles_by_month = data.groupby(['Published_Year', 'Published_Month']).agg({
    'URL': 'count',
    'Site': 'nunique',
    'Author': 'nunique',
    'Participants': 'sum',
    'RepliesCount': 'sum'
}).reset_index()
articles_by_month.columns = ['Year', 'Month', 'Article_Count', 'Unique_Sites', 
                             'Unique_Authors', 'Total_Participants', 'Total_Replies']
articles_by_month = articles_by_month.sort_values(['Year', 'Month'])
articles_by_month

,Year,Month,Article_Count,Unique_Sites,Unique_Authors,Total_Participants,Total_Replies
0,2025,1,742,2,48,41025,73700
1,2025,2,24258,370,1099,478537,634170
2,2025,3,4000,250,1319,63757,90198
3,2025,4,5000,290,1699,92415,133760
4,2025,5,1007,96,541,32062,46152
5,2025,6,3009,289,1343,3081,555
6,2025,7,5011,349,1865,7207,5256
7,2025,8,3989,306,1793,14642,21309
8,2025,9,1984,194,1103,8859,13854

In [77]:
# Group by dates - Articles per day of week
articles_by_dow = data.groupby('Published_DayOfWeek').agg({
    'URL': 'count',
    'Site': 'nunique',
    'Author': 'nunique'
}).reset_index()
articles_by_dow.columns = ['Day_of_Week', 'Article_Count', 'Unique_Sites', 'Unique_Authors']
# Order by day of week
day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
# Handle NaN values in Day_of_Week
articles_by_dow = articles_by_dow[articles_by_dow['Day_of_Week'].notna()]
articles_by_dow['Day_of_Week'] = pd.Categorical(articles_by_dow['Day_of_Week'], categories=day_order, ordered=True)
articles_by_dow = articles_by_dow.sort_values('Day_of_Week')
articles_by_dow

  Day_of_Week  Article_Count  Unique_Sites  Unique_Authors
1      Monday             75            34              45
5     Tuesday            381            48             296
6   Wednesday          13012           622            4563
4    Thursday          13339           621            3832
0      Friday            956            19             193
2    Saturday             46             8              10
3      Sunday          21191            32             293

In [78]:
# Convert from long to wide form - Pivot by Site and Date
# Example: Articles per Site per Date
# Filter out rows with missing dates for pivot
data_for_pivot = data[data['Published_Date'].notna()].copy()
wide_site_date = data_for_pivot.pivot_table(
    index='Published_Date',
    columns='Site',
    values='URL',
    aggfunc='count',
    fill_value=0
)
wide_site_date.head(10)

Site,100percentfedup.com,1tv.ru,24nyt.dk,abakan-news.net,abqtimes.com,activistpost.com,actualidad-rt.com,adygheya-news.net,albanystandard.com,albawaba.com,...,yaroslavl-news.net,yasudaily.com,yellowhammernews.com,yellowstonetimes.com,yorkconews.com,youm7.com,yubasuttertimes.com,yumasun.com,zhitomir-news.ru,zp-news.ru
Published_Date,,,,,,,,,,,,,,,,,,,,,
2025-01-22 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-01-23 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-01-31 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-04 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-05 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-07 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-08 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-09 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-13 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-14 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
# Convert from long to wide form - Pivot by Language and Date
wide_language_date = data_for_pivot.pivot_table(
    index='Published_Date',
    columns='Language',
    values='URL',
    aggfunc='count',
    fill_value=0
)
wide_language_date.head(10)

Language,afrikaans,albanian,arabic,bengali,bokmal,bosnian,bulgarian,catalan,chinese,croatian,...,tamil,telugu,thai,tsonga,turkish,ukrainian,urdu,vietnamese,xhosa,yoruba
Published_Date,,,,,,,,,,,,,,,,,,,,,
2025-01-22 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-01-23 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-01-31 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-04 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-05 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-07 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-08 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-09 00:00:00+00:00,0,0,0,0,22,0,22,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-13 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-14 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
# Convert from long to wide form - Pivot by Country and Month
# Filter out rows with missing dates or countries
data_for_pivot2 = data[(data['Published_Year'].notna()) & (data['Country'].notna())].copy()
wide_country_month = data_for_pivot2.pivot_table(
    index=['Published_Year', 'Published_Month'],
    columns='Country',
    values='URL',
    aggfunc='count',
    fill_value=0
)
wide_country_month.head(10)

Country                         AE  AR  AT  BA  BD  BR  CA   CN  CO  CU  ...  \
Published_Year Published_Month                                           ...
2025           1                 0   0   0   0   0   0   0    0   0   0  ...
               2                 0   0   0   2   0   0   9    0   0   0  ...
               3                 0   6   0   3   0   0  18    0   3   0  ...
               4                 0  16   0  10   0   0  18    0   0   0  ...
               5                 0   2   0   9   0   0   0    0   0   0  ...
               6                14   6  41   2   4   0   2   45   0   4  ...
               7                26   7  34   0   5   0   2  137   1  12  ...
               8                11   4   0   0   3   0   2   29   0   0  ...
               9                 9   2   0   0   3   1   0   35   4   1  ...

Country                           RU  SE  TH  TR  TW   UA     US  VN  ZA  ZW
Published_Year Published_Month
2025           1                   0   0   0   0   0    0    742   0   0   0
               2                 295  22   0   1   0  355  19423   0   0   0
               3                1020   0   1   0   0  222   2386   1   0   0
               4                1141   0   0   0   0  219   3199   0   0   0
               5                 191   0   0   0   0   42    694   0   0   0
               6                 841   1   1   0   3   34   1423   3   0   1
               7                 786   0   0   1   0   43   2955   0   0   0
               8                 807   0   5   0   0   49   2547   0   7   0
               9                 404   0   1   0   0   30   1203   0   0   0

[9 rows x 53 columns]

In [ ]:
# Comprehensive Missing Values Report
print("=" * 60)
print("COMPREHENSIVE MISSING VALUES REPORT")
print("=" * 60)

print("\n1. Missing Values by Column:")
print("-" * 60)
missing_by_col = data.isna().sum().sort_values(ascending=False)
missing_by_col_pct = (data.isna().sum() / len(data) * 100).sort_values(ascending=False)
missing_report = pd.DataFrame({
    'Missing_Count': missing_by_col,
    'Missing_Percentage': missing_by_col_pct.round(2)
})
missing_report = missing_report[missing_report['Missing_Count'] > 0]
print(missing_report)

print("\n2. Rows with Missing Values:")
print("-" * 60)
rows_with_missing = data[data.isna().any(axis=1)]
print(f"Total rows with at least one missing value: {len(rows_with_missing)} ({len(rows_with_missing)/len(data)*100:.2f}%)")

print("\n3. Rows with Multiple Missing Values:")
print("-" * 60)
rows_multiple_missing = data[data.isna().sum(axis=1) > 1]
print(f"Rows with more than one missing value: {len(rows_multiple_missing)} ({len(rows_multiple_missing)/len(data)*100:.2f}%)")

print("\n4. Missing Values by Date:")
print("-" * 60)
if 'Published_Date' in data.columns:
    missing_by_date = data.groupby('Published_Date').apply(lambda x: x.isna().sum().sum()).reset_index(name='Missing_Count')
    missing_by_date = missing_by_date[missing_by_date['Missing_Count'] > 0].sort_values('Missing_Count', ascending=False)
    if len(missing_by_date) > 0:
        print(missing_by_date.head(10))
    else:
        print("No missing values when grouped by date")

print("\n5. Missing Values Pattern Analysis:")
print("-" * 60)
# Check for patterns in missing values
if 'Author' in data.columns and 'Country' in data.columns:
    author_country_missing = data.groupby('Author')['Country'].apply(lambda x: x.isna().sum()).reset_index(name='Missing_Country_Count')
    author_country_missing = author_country_missing[author_country_missing['Missing_Country_Count'] > 0].sort_values('Missing_Country_Count', ascending=False)
    if len(author_country_missing) > 0:
        print("Authors with missing Country values:")
        print(author_country_missing.head(10))

print("\n6. Date Column Missing Values:")
print("-" * 60)
if 'Published' in data.columns:
    missing_dates = data['Published'].isna().sum()
    print(f"Missing Published dates: {missing_dates} ({missing_dates/len(data)*100:.2f}%)")

print("\n" + "=" * 60)

============================================================
COMPREHENSIVE MISSING VALUES REPORT
============================================================

1. Missing Values by Column:
------------------------------------------------------------
              Missing_Count  Missing_Percentage
Rating                49000              100.00
Title                 14429               29.45
DomainRank             7640               15.59
Author                 3187                6.50
SectionTitle           1440                2.94
Country                1174                2.40
ThreadTitle               4                0.01

2. Rows with Missing Values:
------------------------------------------------------------
Total rows with at least one missing value: 49000 (100.00%)

3. Rows with Multiple Missing Values:
------------------------------------------------------------
Rows with more than one missing value: 23874 (48.72%)

4. Missing Values by Date:
------------------------------------------------------------

C:\Users\Colea\AppData\Local\Temp\ipykernel_16624\4042292591.py:30: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  missing_by_date = data.groupby('Published_Date').apply(lambda x: x.isna().sum().sum()).reset_index(name='Missing_Count')

              Published_Date  Missing_Count
7  2025-02-09 00:00:00+00:00          30714
10 2025-02-20 00:00:00+00:00           2227
15 2025-03-19 00:00:00+00:00           2163
14 2025-03-12 00:00:00+00:00           2156
23 2025-05-07 00:00:00+00:00           2018
12 2025-03-05 00:00:00+00:00           1851
11 2025-02-27 00:00:00+00:00           1850
22 2025-04-30 00:00:00+00:00           1815
20 2025-04-16 00:00:00+00:00           1774
19 2025-04-09 00:00:00+00:00           1751

5. Missing Values Pattern Analysis:
------------------------------------------------------------
Authors with missing Country values:
             Author  Missing_Country_Count
5560           Tina                    335
6066      admin_dev                    246
5278     Suma Roxzi                    141
5111         Sophia                    126
1682         Editor                     54
4342    Peter Peter                     44
1144         Chunqt                     15
6625         sadmin                     13
4776  SC Texas News                      4
5896  West DFW News                      4

6. Date Column Missing Values:
------------------------------------------------------------
Missing Published dates: 0 (0.00%)

============================================================

In [82]:
# Create additional new variables
# Article engagement score (combination of participants and replies)
data['Engagement_Score'] = (data['Participants'].fillna(0) * 0.6 + 
                            data['RepliesCount'].fillna(0) * 0.4)

# High engagement flag
engagement_threshold = data['Engagement_Score'].quantile(0.75)
data['High_Engagement'] = data['Engagement_Score'] > engagement_threshold

# Date-based variables
data['Days_Since_Published'] = (pd.Timestamp.now(tz='UTC') - data['Published']).dt.days
data['Is_Weekend'] = data['Published_DayOfWeek'].isin(['Saturday', 'Sunday'])

# Language-English flag (handle NaN values)
data['Is_English'] = data['Language'].str.lower().fillna('') == 'english'

# Display new variables summary
print("New Variables Created:")
print(f"- Engagement_Score: {data['Engagement_Score'].describe()}")
print(f"\n- High_Engagement: {data['High_Engagement'].sum()} articles ({data['High_Engagement'].sum()/len(data)*100:.2f}%)")
print(f"\n- Is_Weekend: {data['Is_Weekend'].sum()} articles ({data['Is_Weekend'].sum()/len(data)*100:.2f}%)")
print(f"\n- Is_English: {data['Is_English'].sum()} articles ({data['Is_English'].sum()/len(data)*100:.2f}%)")

data[['Engagement_Score', 'High_Engagement', 'Days_Since_Published', 
      'Is_Weekend', 'Is_English']].head(10)

New Variables Created:
- Engagement_Score: count    49000.000000
mean        17.398624
std         30.222268
min          0.000000
25%          0.600000
50%          0.600000
75%         20.000000
max         93.400000
Name: Engagement_Score, dtype: float64

- High_Engagement: 11916 articles (24.32%)

- Is_Weekend: 21237 articles (43.34%)

- Is_English: 39231 articles (80.06%)

,Engagement_Score,High_Engagement,Days_Since_Published,Is_Weekend,Is_English
0,22.0,True,296,True,True
1,22.0,True,296,True,True
2,22.0,True,296,True,True
3,22.0,True,296,True,True
4,22.0,True,296,True,True
5,22.0,True,296,True,True
6,4.6,False,296,True,True
7,4.6,False,296,True,True
8,4.6,False,296,True,True
9,4.6,False,296,True,True