In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('all_articles_summary.csv')
data.head()

,URL,Author,Published,Language,Title,Site,SiteSection,Country,DomainRank,RepliesCount,Participants,SiteType,SourceFile
0,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,2025-02-09T18:28:26.280+02:00,english,"In the Runup Elections, the Failed, Outgoing G...",thegatewaypundit.com,https://thegatewaypundit.com,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250219222045.json
1,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,2025-02-09T18:28:26.280+02:00,english,"In the Runup Elections, the Failed, Outgoing G...",thegatewaypundit.com,https://thegatewaypundit.com,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250219222201.json
2,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,2025-02-09T18:28:26.280+02:00,english,"In the Runup Elections, the Failed, Outgoing G...",thegatewaypundit.com,https://thegatewaypundit.com,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250220071616.json
3,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,2025-02-09T18:28:26.280+02:00,english,"In the Runup Elections, the Failed, Outgoing G...",thegatewaypundit.com,https://thegatewaypundit.com,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250221071619.json
4,https://www.thegatewaypundit.com/2025/02/runup...,jimmyslippers,2025-02-09T18:28:26.280+02:00,english,"In the Runup Elections, the Failed, Outgoing G...",thegatewaypundit.com,https://thegatewaypundit.com,US,5772.0,22,22,news,./unzipped_flat/article_1000_20250222071616.json

In [3]:
data.shape

(57000, 13)

In [4]:
data["Title"].isnull().sum()

np.int64(5)

In [5]:
data["Language"].value_counts()

Language
english       44201
russian        7856
arabic          562
french          543
spanish         449
hindi           397
ukrainian       377
chinese         317
german          253
persian         243
dutch           134
korean          130
japanese        126
greek           111
hungarian       111
telugu          109
urdu             92
gujarati         85
tamil            84
bosnian          81
turkish          79
italian          70
punjabi          63
bengali          54
romanian         51
swedish          41
polish           40
bokmal           36
croatian         36
danish           32
bulgarian        28
indonesian       26
serbian          21
czech            17
chineset         14
finnish          14
marathi          13
tagalog          11
malayalam        11
latin            10
portuguese       10
kannada          10
oriya             8
vietnamese        7
thai              6
yoruba            5
malay             4
albanian          3
mongolian         3
tsonga            3
afrikaans         2
xhosa             2
kazakh            2
swahili           2
sotho             2
shona             1
hebrew            1
catalan           1
Name: count, dtype: int64

In [6]:
data["DomainRank"].value_counts()

DomainRank
5772.0      9563
3213.0      5868
29586.0     4752
2819.0      2867
77158.0     2728
            ...
72169.0        1
79167.0        1
28470.0        1
9753.0         1
125148.0       1
Name: count, Length: 1015, dtype: int64

In [7]:
data['Site'].value_counts()

Site
thegatewaypundit.com    11726
newsbreak.com            9226
world-today-news.com     5218
breitbart.com            3055
time.news                2948
                        ...
northerntiernews.com        1
lovellchronicle.com         1
southkingnews.com           1
westatlantanews.com         1
wdpp.org                    1
Name: count, Length: 1095, dtype: int64

In [8]:
data['Author'].value_counts()

Author
world today news     5144
time news            2594
Elijah               1159
Merry                 979
Alexander             618
                     ...
Mike Hytner             1
Informer/Vijesti        1
peachpal                1
libs<garbage            1
Nathan Vandenburg       1
Name: count, Length: 10583, dtype: int64

In [9]:
data['Participants'] = pd.to_numeric(data['Participants'], errors='coerce')
data.groupby('Site')['Participants'].mean().sort_values(ascending=False)

Site
thegatewaypundit.com    48.167917
mediaite.com            46.488417
breitbart.com           43.039935
phillyleader.com         1.000000
phxreporter.com          1.000000
                          ...
caifutw.com              0.000000
netsbay.com              0.000000
cambodiantimes.com       0.000000
krivoy-rog-news.ru       0.000000
jeontoday.com            0.000000
Name: Participants, Length: 1095, dtype: float64

In [10]:
data.isna().sum().sort_values(ascending=False)

DomainRank      9571
Author          3439
Country         1386
Title              5
URL                0
Published          0
Language           0
Site               0
SiteSection        0
RepliesCount       0
Participants       0
SiteType           0
SourceFile         0
dtype: int64

In [11]:
data[data.isna().any(axis=1)]

,URL,Author,Published,Language,Title,Site,SiteSection,Country,DomainRank,RepliesCount,Participants,SiteType,SourceFile
23,https://novosibirsk-news.net/incident/2025/02/...,NaN,2025-02-21T00:45:00.000+02:00,russian,Глава СК России поручил представить доклад о х...,novosibirsk-news.net,https://novosibirsk-news.net/rss/news,RU,521646.0,0,0,news,./unzipped_flat/article_1000_20250323071615.json
25,https://irkutsk-news.net/society/2025/03/06/27...,NaN,2025-03-06T01:36:00.000+02:00,russian,Иркутская область входит в тройку лидеров по к...,irkutsk-news.net,https://irkutsk-news.net/culture,RU,NaN,0,0,news,./unzipped_flat/article_1000_20250406071616.json
26,https://vologda-news.net/society/2025/03/13/29...,NaN,2025-03-13T01:17:00.000+02:00,russian,В вологодском следственном изоляторе состоялос...,vologda-news.net,https://vologda-news.net/society,RU,NaN,0,0,news,./unzipped_flat/article_1000_20250413071615.json
32,https://amur-news.net/incident/2025/04/24/2702...,Госавтоинспекция Амурской области,2025-04-24T02:06:00.000+03:00,russian,СВОДКА ПРОИСШЕСТВИЙ ЗА 23 АПРЕЛЯ: ребёнок-вело...,amur-news.net,https://amur-news.net/incident,RU,NaN,0,1,news,./unzipped_flat/article_1000_20250525071616.json
45,https://kirov-news.net/politics/2025/08/21/489...,ГТРК «Вятка»,2025-08-21T07:03:00.000+03:00,russian,Кировчане через пьесу познакомятся с историей ...,kirov-news.net,https://kirov-news.net/rss/news,RU,NaN,0,1,news,./unzipped_flat/article_1000_20250824071625.json
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56985,https://segeorgianews.com/stories/674145029-ca...,H. D. Barger,2025-07-30T23:10:00.000+03:00,english,Candler County is home to 60 registered sex of...,segeorgianews.com,https://segeorgianews.com/stories,US,NaN,0,1,news,./unzipped_flat/article_9_20250803071626.json
56987,https://baikal-news.net/other/2025/08/14/27868...,"Информационное агентство ""Восток - Телеинформ""",2025-08-14T06:40:00.000+03:00,russian,Команда из Бурятии участвует в международном ф...,baikal-news.net,https://baikal-news.net/rss/news,RU,NaN,0,1,news,./unzipped_flat/article_9_20250817071621.json
56996,https://volgograd-news.net/society/2025/10/16/...,"ИА ""Высота 102""",2025-10-16T07:01:00.000+03:00,russian,В Волгограде пытавшая сына утюгом Синельникова...,volgograd-news.net,https://volgograd-news.net/rss/news,RU,NaN,0,1,news,./unzipped_flat/article_9_20251019071618.json
56997,https://tagil-news.ru/society/2025/10/23/45790...,Нижний Тагил,2025-10-23T07:08:00.000+03:00,russian,Доброе осеннее утро в #нижнийтагил - Лента нов...,tagil-news.ru,https://tagil-news.ru/society,RU,NaN,0,1,news,./unzipped_flat/article_9_20251026071624.json
56998,https://novosibirsk-news.net/society/2025/11/0...,"ИА ""Новосибирск""",2025-11-06T06:55:00.000+02:00,russian,Бесплатно посетить концерты по QR-коду смогут ...,novosibirsk-news.net,https://novosibirsk-news.net/politics,RU,NaN,0,1,news,./unzipped_flat/article_9_20251109071620.json

In [12]:
data[data.isna().sum(axis=1) > 1]

,URL,Author,Published,Language,Title,Site,SiteSection,Country,DomainRank,RepliesCount,Participants,SiteType,SourceFile
25,https://irkutsk-news.net/society/2025/03/06/27...,NaN,2025-03-06T01:36:00.000+02:00,russian,Иркутская область входит в тройку лидеров по к...,irkutsk-news.net,https://irkutsk-news.net/culture,RU,NaN,0,0,news,./unzipped_flat/article_1000_20250406071616.json
26,https://vologda-news.net/society/2025/03/13/29...,NaN,2025-03-13T01:17:00.000+02:00,russian,В вологодском следственном изоляторе состоялос...,vologda-news.net,https://vologda-news.net/society,RU,NaN,0,0,news,./unzipped_flat/article_1000_20250413071615.json
139,https://msk-news.net/society/2025/03/06/626105...,NaN,2025-03-06T00:18:00.000+02:00,russian,Путин и Гунба: Россия поможет Абхазии в услови...,msk-news.net,https://www.msk-news.net,RU,NaN,0,0,news,./unzipped_flat/article_101_20250406071616.json
140,https://news-kiev.ru/society/2025/03/13/624132...,NaN,2025-03-13T00:18:00.000+02:00,russian,В Киеве прогремел взрыв из-за возможного паден...,news-kiev.ru,https://www.news-kiev.ru,UA,NaN,0,0,news,./unzipped_flat/article_101_20250413071615.json
170,https://boicpost.com/nieuws/militair-verslagge...,Tina,2025-11-13T02:27:00.000+02:00,dutch,Militair verslaggever Kots: Servië dat naar Eu...,boicpost.com,https://boicpost.com,NaN,NaN,0,1,news,./unzipped_flat/article_101_20251116071631.json
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56853,https://vladivostok-news.net/society/2025/02/2...,NaN,2025-02-28T00:45:00.000+02:00,russian,Водитель без прав устроил жесткое ДТП во Влади...,vladivostok-news.net,https://vladivostok-news.net/rss/news,RU,NaN,0,0,news,./unzipped_flat/article_999_20250330071615.json
56854,https://magadan-news.net/other/2025/03/06/1064...,NaN,2025-03-06T01:56:00.000+02:00,russian,"Бизнес-клуб - проект, объединяющий предпринима...",magadan-news.net,https://magadan-news.net/politics,RU,NaN,0,0,news,./unzipped_flat/article_999_20250406071616.json
56855,https://vologda-news.net/society/2025/03/13/29...,NaN,2025-03-13T01:45:00.000+02:00,russian,Почему опытные хозяйки никогда не выливают вод...,vologda-news.net,https://vologda-news.net/society,RU,NaN,0,0,news,./unzipped_flat/article_999_20250413071615.json
56912,https://news-kiev.ru/society/2025/03/13/624136...,NaN,2025-03-13T00:19:00.000+02:00,russian,"Договорняк вступил в силу, пока все смотрели н...",news-kiev.ru,https://www.news-kiev.ru,UA,NaN,0,0,news,./unzipped_flat/article_99_20250413071615.json
56969,https://www.cambodiantimes.com/news/278084960/...,NaN,2025-03-13T00:08:25.996+02:00,english,"China, Iran, Russia hold joint naval drills in...",cambodiantimes.com,https://www.cambodiantimes.com,IN,NaN,0,0,news,./unzipped_flat/article_9_20250413071615.json

In [13]:
def get_unique_values(series):
    vals = series.dropna().unique()
    return sorted(list(vals))

In [14]:
count_by_language = data.groupby("Language")["URL"].count().reset_index(name="FakeNewsCount").sort_values("FakeNewsCount", ascending=False)
count_by_language.head()

   Language  FakeNewsCount
14  english          44201
40  russian           7856
2    arabic            562
16   french            543
44  spanish            449

These results show that English accounts for the overwhelming majority of fake-news URLs, followed by Russian, with all other languages appearing far less frequently.

In [15]:
authors_countries = data.groupby("Author")["Country"].apply(get_unique_values).reset_index(name="CountriesPublishedIn")
authors_countries.head()

                                    Author CountriesPublishedIn
0  "53 новости" Великий Новгород и область                 [RU]
1                       "Волновахская ДШИ"                 [RU]
2            "Первый Ростовский" телеканал                 [RU]
3                            #Marsing83639                 [US]
4                         (Ivonne Olivas )                 [US]

In [16]:
authors_countries["CountriesPublishedIn"].value_counts().head()

CountriesPublishedIn
[US]    8463
[RU]    1238
[IN]     144
[EG]     107
[]        74
Name: count, dtype: int64

Our data shows that most authors that are publishing fake news are in the United States with Russia having about 1/8th of the authors, and the rest of the countries having 200 or less authors.

In [17]:
authors_languages = data.groupby("Author")["Language"].apply(get_unique_values).reset_index(name="LanguagesUsed")
authors_languages.head()

                                    Author LanguagesUsed
0  "53 новости" Великий Новгород и область     [russian]
1                       "Волновахская ДШИ"     [russian]
2            "Первый Ростовский" телеканал     [russian]
3                            #Marsing83639     [english]
4                         (Ivonne Olivas )     [english]

In [18]:
authors_languages["LanguagesUsed"].value_counts().head()

LanguagesUsed
[english]    8675
[russian]    1353
[arabic]      115
[french]       66
[hindi]        46
Name: count, dtype: int64

Our data shows English as being the clear winner in most published language with the next being Russian and then Arabic. Interesting results, maybe this could mean most Indian fake news is being written in English?

In [19]:
count_by_Site = data.groupby("Site")["URL"].count().reset_index(name="FakeNewsCount").sort_values("FakeNewsCount", ascending=False)
count_by_Site.head(10)

                      Site  FakeNewsCount
913   thegatewaypundit.com          11726
572          newsbreak.com           9226
1071  world-today-news.com           5218
79           breitbart.com           3055
933              time.news           2948
1058      whatsnew2day.com           2840
571             news18.com           1192
486           mediaite.com            518
566           news-kiev.ru            505
169    countylocalnews.com            453

Interesting results for the sites their are a few sites that are pushing a unbelievable amount of fake news like our top 7, and the rest slowly taper down to lower and lower values of fake news.

In [20]:
authors_count = data.groupby("Author")["URL"].count().reset_index(name="FakeNewsCount").sort_values("FakeNewsCount", ascending=False)
authors_count.head(10)

                  Author  FakeNewsCount
9038    world today news           5144
8884           time news           2594
2271              Elijah           1159
4959               Merry            979
376            Alexander            618
7352                Tina            460
1643   County Local News            428
114         @news18india            367
108            @httweets            335
10522          مصر تايمز            295

In [21]:
# Parse Published date column
data['Published'] = pd.to_datetime(data['Published'], errors='coerce', utc=True)
data[['Published', 'URL']].head()

,Published,URL
0,2025-02-09 16:28:26.280000+00:00,https://www.thegatewaypundit.com/2025/02/runup...
1,2025-02-09 16:28:26.280000+00:00,https://www.thegatewaypundit.com/2025/02/runup...
2,2025-02-09 16:28:26.280000+00:00,https://www.thegatewaypundit.com/2025/02/runup...
3,2025-02-09 16:28:26.280000+00:00,https://www.thegatewaypundit.com/2025/02/runup...
4,2025-02-09 16:28:26.280000+00:00,https://www.thegatewaypundit.com/2025/02/runup...

In [22]:
# Create new date-related variables
data['Published_Year'] = data['Published'].dt.year
data['Published_Month'] = data['Published'].dt.month
data['Published_Day'] = data['Published'].dt.day
# Use normalize() to get date without time, but keep as datetime for better compatibility
data['Published_Date'] = data['Published'].dt.normalize()
data['Published_DayOfWeek'] = data['Published'].dt.day_name()
data['Published_Week'] = data['Published'].dt.isocalendar().week
data['Published_Quarter'] = data['Published'].dt.quarter

# Display new variables
data[['Published', 'Published_Year', 'Published_Month', 'Published_Day', 
      'Published_Date', 'Published_DayOfWeek', 'Published_Week', 'Published_Quarter']].head()

,Published,Published_Year,Published_Month,Published_Day,Published_Date,Published_DayOfWeek,Published_Week,Published_Quarter
0,2025-02-09 16:28:26.280000+00:00,2025,2,9,2025-02-09 00:00:00+00:00,Sunday,6,1
1,2025-02-09 16:28:26.280000+00:00,2025,2,9,2025-02-09 00:00:00+00:00,Sunday,6,1
2,2025-02-09 16:28:26.280000+00:00,2025,2,9,2025-02-09 00:00:00+00:00,Sunday,6,1
3,2025-02-09 16:28:26.280000+00:00,2025,2,9,2025-02-09 00:00:00+00:00,Sunday,6,1
4,2025-02-09 16:28:26.280000+00:00,2025,2,9,2025-02-09 00:00:00+00:00,Sunday,6,1

In [23]:
# Group by dates - Articles per date
articles_by_date = data.groupby('Published_Date').agg({
    'URL': 'count',
    'Site': 'nunique',
    'Author': 'nunique',
    'Participants': 'sum',
    'RepliesCount': 'sum'
}).reset_index()
articles_by_date.columns = ['Date', 'Article_Count', 'Unique_Sites', 'Unique_Authors', 
                           'Total_Participants', 'Total_Replies']
articles_by_date = articles_by_date.sort_values('Date')
# Convert Date to date only for display
articles_by_date['Date'] = pd.to_datetime(articles_by_date['Date']).dt.date
articles_by_date.head(10)

,Date,Article_Count,Unique_Sites,Unique_Authors,Total_Participants,Total_Replies
0,2025-01-22,10,2,2,255,500
1,2025-01-23,102,1,15,6120,10200
2,2025-01-31,630,1,31,34650,63000
3,2025-02-04,18,1,0,0,0
4,2025-02-05,19,1,0,0,0
5,2025-02-07,21,1,1,21,0
6,2025-02-08,22,1,1,22,0
7,2025-02-09,21178,27,287,430240,564594
8,2025-02-13,716,19,263,23664,34988
9,2025-02-14,284,9,148,10170,15194

In [24]:
# Group by dates - Articles per month
articles_by_month = data.groupby(['Published_Year', 'Published_Month']).agg({
    'URL': 'count',
    'Site': 'nunique',
    'Author': 'nunique',
    'Participants': 'sum',
    'RepliesCount': 'sum'
}).reset_index()
articles_by_month.columns = ['Year', 'Month', 'Article_Count', 'Unique_Sites', 
                             'Unique_Authors', 'Total_Participants', 'Total_Replies']
articles_by_month = articles_by_month.sort_values(['Year', 'Month'])
articles_by_month

,Year,Month,Article_Count,Unique_Sites,Unique_Authors,Total_Participants,Total_Replies
0,2025,1,742,2,48,41025,73700
1,2025,2,24258,370,1099,478537,634170
2,2025,3,4000,250,1319,63757,90198
3,2025,4,5000,290,1699,92415,133760
4,2025,5,1007,96,541,32062,46152
5,2025,6,3009,289,1343,3081,555
6,2025,7,5011,349,1865,7207,5256
7,2025,8,3991,306,1794,14644,21309
8,2025,9,4084,340,1969,10894,13874
9,2025,10,3906,323,2023,9788,10004
10,2025,11,1992,248,1097,5240,4353

In [25]:
# Group by dates - Articles per day of week
articles_by_dow = data.groupby('Published_DayOfWeek').agg({
    'URL': 'count',
    'Site': 'nunique',
    'Author': 'nunique'
}).reset_index()
articles_by_dow.columns = ['Day_of_Week', 'Article_Count', 'Unique_Sites', 'Unique_Authors']
# Order by day of week
day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
# Handle NaN values in Day_of_Week
articles_by_dow = articles_by_dow[articles_by_dow['Day_of_Week'].notna()]
articles_by_dow['Day_of_Week'] = pd.Categorical(articles_by_dow['Day_of_Week'], categories=day_order, ordered=True)
articles_by_dow = articles_by_dow.sort_values('Day_of_Week')
articles_by_dow

  Day_of_Week  Article_Count  Unique_Sites  Unique_Authors
1      Monday            105            48              71
5     Tuesday            632            91             505
6   Wednesday          15059           747            5661
4    Thursday          18945           707            5192
0      Friday           1004            38             224
2    Saturday             55            11              17
3      Sunday          21200            37             300

In [26]:
# Convert from long to wide form - Pivot by Site and Date
# Example: Articles per Site per Date
# Filter out rows with missing dates for pivot
data_for_pivot = data[data['Published_Date'].notna()].copy()
wide_site_date = data_for_pivot.pivot_table(
    index='Published_Date',
    columns='Site',
    values='URL',
    aggfunc='count',
    fill_value=0
)
wide_site_date.head(10)

Site,100percentfedup.com,1tv.ru,24nyt.dk,abakan-news.net,abqtimes.com,activistpost.com,actualidad-rt.com,adygheya-news.net,aframnews.com,alamosanews.com,...,yasudaily.com,yellowhammernews.com,yellowstonetimes.com,yorkconews.com,youm7.com,youngstowntimes.com,yubasuttertimes.com,yumasun.com,zhitomir-news.ru,zp-news.ru
Published_Date,,,,,,,,,,,,,,,,,,,,,
2025-01-22 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-01-23 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-01-31 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-04 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-05 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-07 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-08 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-09 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-13 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-14 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
# Convert from long to wide form - Pivot by Language and Date
wide_language_date = data_for_pivot.pivot_table(
    index='Published_Date',
    columns='Language',
    values='URL',
    aggfunc='count',
    fill_value=0
)
wide_language_date.head(10)

Language,afrikaans,albanian,arabic,bengali,bokmal,bosnian,bulgarian,catalan,chinese,chineset,...,tamil,telugu,thai,tsonga,turkish,ukrainian,urdu,vietnamese,xhosa,yoruba
Published_Date,,,,,,,,,,,,,,,,,,,,,
2025-01-22 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-01-23 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-01-31 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-04 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-05 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-07 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-08 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-09 00:00:00+00:00,0,0,0,0,22,0,22,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-13 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-02-14 00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# Convert from long to wide form - Pivot by Country and Month
# Filter out rows with missing dates or countries
data_for_pivot2 = data[(data['Published_Year'].notna()) & (data['Country'].notna())].copy()
wide_country_month = data_for_pivot2.pivot_table(
    index=['Published_Year', 'Published_Month'],
    columns='Country',
    values='URL',
    aggfunc='count',
    fill_value=0
)
wide_country_month.head(10)

Country                         AE  AR  AT  AU  BA  BD  BR  CA   CN  CO  ...  \
Published_Year Published_Month                                           ...
2025           1                 0   0   0   0   0   0   0   0    0   0  ...
               2                 0   0   0   0   2   0   0   9    0   0  ...
               3                 0   6   0   0   3   0   0  18    0   3  ...
               4                 0  16   0   0  10   0   0  18    0   0  ...
               5                 0   2   0   0   9   0   0   0    0   0  ...
               6                14   6  41   0   2   4   0   2   45   0  ...
               7                26   7  34   0   0   5   0   2  137   1  ...
               8                11   4   0   0   0   3   0   2   29   0  ...
               9                13   4  11   7   2   8   1   0   53   4  ...
               10               23   0  42   3   1   3   0   0  110   0  ...

Country                           RU  SE  TH  TR  TW   UA     US  VN  ZA  ZW
Published_Year Published_Month
2025           1                   0   0   0   0   0    0    742   0   0   0
               2                 295  22   0   1   0  355  19423   0   0   0
               3                1020   0   1   0   0  222   2386   1   0   0
               4                1141   0   0   0   0  219   3199   0   0   0
               5                 191   0   0   0   0   42    694   0   0   0
               6                 841   1   1   0   3   34   1423   3   0   1
               7                 786   0   0   1   0   43   2955   0   0   0
               8                 807   0   5   0   0   49   2548   0   7   0
               9                 774   0  81   4   0   58   2447   0   1   0
               10                663   1  11   0   0   44   2432   0   4   1

[10 rows x 55 columns]

In [29]:
# Comprehensive Missing Values Report
print("=" * 60)
print("COMPREHENSIVE MISSING VALUES REPORT")
print("=" * 60)

print("\n1. Missing Values by Column:")
print("-" * 60)
missing_by_col = data.isna().sum().sort_values(ascending=False)
missing_by_col_pct = (data.isna().sum() / len(data) * 100).sort_values(ascending=False)
missing_report = pd.DataFrame({
    'Missing_Count': missing_by_col,
    'Missing_Percentage': missing_by_col_pct.round(2)
})
missing_report = missing_report[missing_report['Missing_Count'] > 0]
print(missing_report)

print("\n2. Rows with Missing Values:")
print("-" * 60)
rows_with_missing = data[data.isna().any(axis=1)]
print(f"Total rows with at least one missing value: {len(rows_with_missing)} ({len(rows_with_missing)/len(data)*100:.2f}%)")

print("\n3. Rows with Multiple Missing Values:")
print("-" * 60)
rows_multiple_missing = data[data.isna().sum(axis=1) > 1]
print(f"Rows with more than one missing value: {len(rows_multiple_missing)} ({len(rows_multiple_missing)/len(data)*100:.2f}%)")

print("\n4. Missing Values by Date:")
print("-" * 60)
if 'Published_Date' in data.columns:
    missing_by_date = data.groupby('Published_Date').apply(lambda x: x.isna().sum().sum()).reset_index(name='Missing_Count')
    missing_by_date = missing_by_date[missing_by_date['Missing_Count'] > 0].sort_values('Missing_Count', ascending=False)
    if len(missing_by_date) > 0:
        print(missing_by_date.head(10))
    else:
        print("No missing values when grouped by date")

print("\n5. Missing Values Pattern Analysis:")
print("-" * 60)
# Check for patterns in missing values
if 'Author' in data.columns and 'Country' in data.columns:
    author_country_missing = data.groupby('Author')['Country'].apply(lambda x: x.isna().sum()).reset_index(name='Missing_Country_Count')
    author_country_missing = author_country_missing[author_country_missing['Missing_Country_Count'] > 0].sort_values('Missing_Country_Count', ascending=False)
    if len(author_country_missing) > 0:
        print("Authors with missing Country values:")
        print(author_country_missing.head(10))

print("\n6. Date Column Missing Values:")
print("-" * 60)
if 'Published' in data.columns:
    missing_dates = data['Published'].isna().sum()
    print(f"Missing Published dates: {missing_dates} ({missing_dates/len(data)*100:.2f}%)")

print("\n" + "=" * 60)

============================================================
COMPREHENSIVE MISSING VALUES REPORT
============================================================

1. Missing Values by Column:
------------------------------------------------------------
            Missing_Count  Missing_Percentage
DomainRank           9571               16.79
Author               3439                6.03
Country              1386                2.43
Title                   5                0.01

2. Rows with Missing Values:
------------------------------------------------------------
Total rows with at least one missing value: 11444 (20.08%)

3. Rows with Multiple Missing Values:
------------------------------------------------------------
Rows with more than one missing value: 2857 (5.01%)

4. Missing Values by Date:
------------------------------------------------------------
              Published_Date  Missing_Count
10 2025-02-20 00:00:00+00:00           1081
7  2025-02-09 00:00:00+00:00            932
11 2025-02-27 00:00:00+00:00            704
14 2025-03-12 00:00:00+00:00            666
12 2025-03-05 00:00:00+00:00            612
15 2025-03-19 00:00:00+00:00            596
37 2025-06-12 00:00:00+00:00            410
16 2025-03-26 00:00:00+00:00            385
43 2025-06-19 00:00:00+00:00            372
49 2025-06-26 00:00:00+00:00            367

5. Missing Values Pattern Analysis:
------------------------------------------------------------

/var/folders/lp/5dplfh3j67b00b_02tvl0kg80000gn/T/ipykernel_30070/3920646832.py:30: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  missing_by_date = data.groupby('Published_Date').apply(lambda x: x.isna().sum().sum()).reset_index(name='Missing_Count')

Authors with missing Country values:
                                  Author  Missing_Country_Count
7352                                Tina                    427
8013                           admin_dev                    246
6800                              Sophia                    180
7013                          Suma Roxzi                    141
2225                              Editor                     87
5806                         Peter Peter                     44
1509                              Chunqt                     15
8768                              sadmin                     13
7787                       West DFW News                      4
5881  Press Release Distribution Service                      4

6. Date Column Missing Values:
------------------------------------------------------------
Missing Published dates: 0 (0.00%)

============================================================

In [30]:
# Create additional new variables
# Article engagement score (combination of participants and replies)
data['Engagement_Score'] = (data['Participants'].fillna(0) * 0.6 + 
                            data['RepliesCount'].fillna(0) * 0.4)

# High engagement flag
engagement_threshold = data['Engagement_Score'].quantile(0.75)
data['High_Engagement'] = data['Engagement_Score'] > engagement_threshold

# Date-based variables
data['Days_Since_Published'] = (pd.Timestamp.now(tz='UTC') - data['Published']).dt.days
data['Is_Weekend'] = data['Published_DayOfWeek'].isin(['Saturday', 'Sunday'])

# Language-English flag (handle NaN values)
data['Is_English'] = data['Language'].str.lower().fillna('') == 'english'

# Display new variables summary
print("New Variables Created:")
print(f"- Engagement_Score: {data['Engagement_Score'].describe()}")
print(f"\n- High_Engagement: {data['High_Engagement'].sum()} articles ({data['High_Engagement'].sum()/len(data)*100:.2f}%)")
print(f"\n- Is_Weekend: {data['Is_Weekend'].sum()} articles ({data['Is_Weekend'].sum()/len(data)*100:.2f}%)")
print(f"\n- Is_English: {data['Is_English'].sum()} articles ({data['Is_English'].sum()/len(data)*100:.2f}%)")

data[['Engagement_Score', 'High_Engagement', 'Days_Since_Published', 
      'Is_Weekend', 'Is_English']].head(10)

New Variables Created:
- Engagement_Score: count    57000.000000
mean        15.237235
std         28.781354
min          0.000000
25%          0.600000
50%          0.600000
75%          7.600000
max         93.400000
Name: Engagement_Score, dtype: float64

- High_Engagement: 14225 articles (24.96%)

- Is_Weekend: 21255 articles (37.29%)

- Is_English: 44201 articles (77.55%)

,Engagement_Score,High_Engagement,Days_Since_Published,Is_Weekend,Is_English
0,22.0,True,297,True,True
1,22.0,True,297,True,True
2,22.0,True,297,True,True
3,22.0,True,297,True,True
4,22.0,True,297,True,True
5,22.0,True,297,True,True
6,4.6,False,297,True,True
7,4.6,False,297,True,True
8,4.6,False,297,True,True
9,4.6,False,297,True,True

In [31]:
data.columns

Index(['URL', 'Author', 'Published', 'Language', 'Title', 'Site',
       'SiteSection', 'Country', 'DomainRank', 'RepliesCount', 'Participants',
       'SiteType', 'SourceFile', 'Published_Year', 'Published_Month',
       'Published_Day', 'Published_Date', 'Published_DayOfWeek',
       'Published_Week', 'Published_Quarter', 'Engagement_Score',
       'High_Engagement', 'Days_Since_Published', 'Is_Weekend', 'Is_English'],
      dtype='object')

In [46]:
data["Engagement_Score"].value_counts().sort_values(ascending=True)

Engagement_Score
51.2        1
16.8        1
13.6        1
19.0        1
25.0        1
        ...
30.0      770
83.2     2213
84.4     2511
0.0      3436
0.6     38576
Name: count, Length: 189, dtype: int64

In [51]:
# We now need to grab the highest engagement column values correlating participants and replies
# Show combinations of Participants and RepliesCount, sorted by count (most common first)
participants_replies_counts = data[["Participants", "RepliesCount"]].value_counts().sort_values(ascending=False)
print("Most common combinations of Participants and RepliesCount:")
print(participants_replies_counts.head(20))
print("\n" + "="*60)
print("\nArticles with highest engagement scores (top 20):")
high_engagement = data.nlargest(1000, 'Engagement_Score')[['URL', 'Title', 'Participants', 'RepliesCount', 'Engagement_Score']]
high_engagement

Most common combinations of Participants and RepliesCount:
Participants  RepliesCount
1             0               38576
0             0                3436
74            100              2511
72            100              2213
26            36                770
55            100               751
34            48                550
18            23                506
19            21                440
14            17                400
23            33                386
22            22                380
11            12                242
67            100               222
2             1                 211
66            100               203
8             7                 194
60            100               181
62            100               175
70            100               168
Name: count, dtype: int64

============================================================

Articles with highest engagement scores (top 20):

,URL,Title,Participants,RepliesCount,Engagement_Score
39647,https://www.breitbart.com/2nd-amendment/2025/0...,Gov. Gretchen Whitmer Pushes More Gun Control ...,89,100,93.4
39704,https://www.breitbart.com/2nd-amendment/2025/0...,Gov. Gretchen Whitmer Pushes More Gun Control ...,89,100,93.4
39761,https://www.breitbart.com/2nd-amendment/2025/0...,Gov. Gretchen Whitmer Pushes More Gun Control ...,89,100,93.4
39818,https://www.breitbart.com/2nd-amendment/2025/0...,Gov. Gretchen Whitmer Pushes More Gun Control ...,89,100,93.4
39932,https://www.breitbart.com/2nd-amendment/2025/0...,Gov. Gretchen Whitmer Pushes More Gun Control ...,89,100,93.4
...,...,...,...,...,...
47273,https://www.thegatewaypundit.com/2025/02/elon-...,Elon Musk Announces Common Sense Agreement Bet...,74,100,84.4
47274,https://www.thegatewaypundit.com/2025/02/elon-...,Elon Musk Announces Common Sense Agreement Bet...,74,100,84.4
47310,https://www.thegatewaypundit.com/2025/02/elon-...,Elon Musk Announces Common Sense Agreement Bet...,74,100,84.4
47311,https://www.thegatewaypundit.com/2025/02/elon-...,Elon Musk Announces Common Sense Agreement Bet...,74,100,84.4
47312,https://www.thegatewaypundit.com/2025/02/elon-...,Elon Musk Announces Common Sense Agreement Bet...,74,100,84.4

In [44]:
data["High_Engagement"].value_counts()

High_Engagement
False    42775
True     14225
Name: count, dtype: int64